/* FLEXBOX */
.container {
  display: flex; /* or inline-flex */
}

.flex-container {
  background-color: none;
  padding: 10;
  margin: 10;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.wrap li {
  background: #deeaf2;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.flex-item {
  padding: 5px;
  width: 191px;
  height: 235px;
  margin: 20px;
}
img:hover {
  opacity: 0.7;
  filter: alpha(opacity=1);
  width: 181px;
  height: 181px;
}

/* POSISJONEN TIL DE ULIKE BORDER */
.main {
  margin: 24px;
  margin-left: 0px;
  margin-right: 0px;
}
.form-horizontal {
  width: 90%;
  padding: 12px 30px;
  margin: 14px;
  display: inline-block;
}
.PrisText {
  font-weight: bold;
  color: red;
  font-size: 25px;
}
.ramme {
  margin: 24px;
  margin-left: 0px;
  margin-right: 0px;
}
.borderShadow {
  background-color: #eaf7ff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 15px;
}
.shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* SIDENAV */
.col-md-2 {
  background-color: #f8f9fa !important;
  padding-top: 10px;
  border: 1px solid #c9dbdb;
  border-top: none;
  font-size: 1rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.col-md-2 a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  color: grey;
  font-size: 20px;
  display: block;
}

.col-md-2 a:hover {
  color: #9cbdbd;
}

/* LOADER */
.spinner {
  margin: 150px auto 0;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

@keyframes fadeInOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.table {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.brBottom {
  margin-bottom: 30px;
}
.brRight {
  margin-right: 30px;
}
.active {
  color: black;
}

/* .lenke {
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
  transition-duration: 0.4s;
  cursor: pointer;
  color: black;
} */

.lenke {
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  margin-left: 200px;
  margin-right: 200px;
  font-size: 16px;
  margin: 50px 200px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.lenke1 {
  background-color: white;
  color: black;
  border: 2px solid #f8f9fa !important;
  border-radius: 10px;
}

.lenke1:hover {
  background-color: #deeaf2;
  color: white;
}

.lenke2 {
  background-color: white;
  color: black;
  border: 2px solid #f8f9fa !important;
  border-radius: 10px;
}

.lenke2:hover {
  background-color: #deeaf2;
  color: white;
}

#varsler {
  margin-left: 100px;
  border: 1px solid #deeaf2;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #eaf7ff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: hidden;
}

.js-hidden {
  display: none;
}

.vaermelding{
  width: 100%;
  height: 300px;
}
