/* FLEXBOX */
.container {
  display: flex; /* or inline-flex */
}

.flex-container {
  background-color: none;
  padding: 10;
  margin: 10;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.wrap li {
  background: #d1e0e0;
}

.flex-item {
  padding: 5px;
  width: 190px;
  height: 210px;
  margin: 20px;
}

img:hover {
  opacity: 0.7;
  filter: alpha(opacity=1);
}

/* SIDENAV */
.emner {
  /* HOVER  */
}

.main {
  margin: 24px;
  margin-left: 0px;
  margin-right: 0px;
}

.col-md-2 {
  background-color: #f8f9fa !important;
  padding-top: 10px;
  border: 1px solid #c9dbdb;
  border-top: none;
  font-size: 1rem;
}

.col-md-2 a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  color: grey;
  font-size: 20px;
  display: block;
}

.col-md-2 a:hover {
  color: #9cbdbd;
}

@include media-breakpoint-up(md) {
  html {
    font-size: 2rem;
  }
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

/* .spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
} */
/* .openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
} */

/* .link {
  color: grey;
} */
