/* FLEXBOX */
.container {
  display: flex; /* or inline-flex */
}

.flex-container {
  background-color: none;
  padding: 10;
  margin: 10;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.wrap li {
  background: #d1e0e0;
}

.flex-item {
  padding: 5px;
  width: 190px;
  height: 210px;
  margin: 20px;
}

img:hover {
  opacity: 0.7;
  filter: alpha(opacity=1);
}

/* GENERELL POSISJON TIL DE ULIKE BOADER */
.main {
  margin: 24px;
  margin-left: 0px;
  margin-right: 0px;
}

/* SIDENAV */
.col-md-2 {
  background-color: #f8f9fa !important;
  padding-top: 10px;
  border: 1px solid #c9dbdb;
  border-top: none;
  font-size: 1rem;
}

.col-md-2 a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  color: grey;
  font-size: 20px;
  display: block;
}

.col-md-2 a:hover {
  color: #9cbdbd;
}

.spinner {
  margin: 150px auto 0;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 4s;
}

@keyframes fadeInOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.active {
  color: black;
}
