.container {
  display: flex; /* or inline-flex */
}

.flex-container {
  background-color: none;
  padding: 10;
  margin: 10;
  list-style: none;
  border: 2px solid silver;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.wrap li {
  background: #b0e0e6;
}

.flex-item {
  padding: 5px;
  width: 160px;
  height: 180px;
  margin: 20px;
}

img:hover {
  opacity: 0.7;
  filter: alpha(opacity=1); /* For IE8 and earlier */
}

.form-horizontal {
  width: 90%;
  padding: 12px 30px;
  margin: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border: 3px solid lightgrey;
}

#kunderesultat {
  padding: 12px;
  margin: 5px;
}

form-control input-md {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

ol-md-4 {
  position: absolute;
  left: 5px;
}

.SideNav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.Sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.Sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .Sidenav {
    padding-top: 15px;
  }
  .Sidenav a {
    font-size: 18px;
  }
}
